DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ginnys-menu/?$ ginnys-menu/index.php [L]
    RewriteRule ^en/?$ en/index.php [L]
</IfModule>
