DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^programa/?$ programa/index.php [L]
    RewriteRule ^gallery/?$ gallery/index.php [L]
</IfModule>
